.img1{
    height: 300px;
    width: 100%;
}
.img2{
    height: 300px;
    margin: auto;
    max-width: 1100px;
}
@media (max-width: 600px){
    .img1{
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img2{
        height: calc(100% - 30px);
        width: calc(100% - 30px);
    }
}