.container{
    padding: 60px 40px 90px;
    width: calc(100% - 80px);
    background: #32585c;
}
.content{
    width: calc(100% - 40px);
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    width: fit-content;
}
.text p{
    padding: 10px;
    color: white;
    font-weight: 300;
}
.content img{
    height: 90px;
    width: auto;
}
.container > p{
    text-align: center;
    font-size: 13px;
    padding: 4px 0px 12px;
    position: absolute;
    bottom: 0px;
    background: white;
    width: 100%;
    left: 0px;
}
.container a{
    color: white;
}
@media (max-width: 700px){
    .content{
        flex-direction: column;
    }
    .text{
        margin-bottom: 30px;
    }
    .content img{
        width: calc(100% - 30px);
        max-width: 300px;
        height: auto;
    }
}