@charset "utf-8";

:root{
    --primary: #32585c;
    --secondary: #333333;
    --tertiary: #f8f8f8;
    --gray: #6e6e6e;
    --light-gray: #eeeeee;
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Helvetica.ttf') format('true type');
}
@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/impact-2.ttf') format('true type');
}

body, html{
	background: var(--tertiary);
	font-family: Helvetica;
	font-weight: 500;
    margin: 0;
    padding: 0;
}

p,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
    color: var(--secondary);
    font-family: Helvetica;
}

h1,h2,h3,h4,h5,p b{
    color: var(--primary);
    font-family: Impact, sans-serif !important;
}

*{
    position: relative;
}

@media (max-width:767px){
    body{
        padding-top: 70px;
    }
}