.container{
    background: transparent;
    display: flex;
    height: 150px;
    justify-content: center;
    z-index: 500;
    color: white;
    width: 100%;
    position: relative;
}
.img{
    left: 15px;
    z-index: 400;
}
.content{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 400;
    padding: 0px 35px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    max-width: 560px;
}
.logo{
    display: block;
    width: 250px;
    z-index: 300;
    padding-right: 45px;
}
.small{
    width: 135px !important;
}
.container a{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: relative;
    transition: all 0.2s;
    font-family: Impact;
    color: var(--secondary);
    text-transform: uppercase;
}
.container a:hover{
    color: var(--gray) ;
}
.container .active{
    color: var(--primary);
}
.menuButton, .close{
    display: none;
    width: 35px;
    height: 35px;
    position: fixed;
    right: 20px;
    top: 18px;
    cursor: pointer;
}
.close{
    right: 22px;
    width: 25px;
    height: 25px;
    top: 24px;
}
.flag{
    display: block;
    width: 26px;
}
@media (max-width:767px){
    .container{
        top: 0px;
        left: 0px;
        position: fixed;
        padding: 5px;
        background: var(--dark);
        height: fit-content;
        background: white;
        box-shadow: 0 1px 3px rgba(0,0,0,.3)
    }
    .content{
        margin: 0px auto;
        height: 60px;
    }
    .logo{
        position: relative;
        height: 50px;
        width: auto;
    }
    :not(.open) .menuButton{
        display: block;
    }
    .open .menuButton{
        display: none !important;
    }
    .open .close{
        display: block;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px;
        left: -1000px;
        top: 0px;
        width: calc(100vw - 60px);
        height: 100%;
        overflow: auto;
        border-right: 1px solid #999;
        box-shadow: 2px 0 9px rgba(0,0,0,.5);
        background: white;
        transition: all 0.2s;
        opacity: 0;
        z-index: 1000;
    }
    .container .menu a{
        font-family: Helvetica, Arial, sans-serif;
        padding: 15px 15px;
        border-top: 1px solid #dedede;
        width: calc(100% - 30px);
        text-transform: initial;
        font-weight: normal;
        color: var(--secondary) !important;
    }
    .active{
        background: var(--light-gray);
        font-weight: bold !important;
    }
    .open .menu{
        left: 0px;
        opacity: 1;
    }
    .language{
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding: 35px 15px !important;
    }
    .language img{
        height: auto;
    }
}